# Supress annoying node warnings.
#
# Those are mainly caused by Yarn3 pnp when it detects that a
# package is importing a dependency that is not defined as a
# peer-dependency.
export NODE_NO_WARNINGS=1
